/* body, header */
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/* heading and other common elements */


/* hero image */


/* main content */



/* footer */